body {

    background-color: #A0F6FE;
    background-image: url('../images/select.svg');
    background-repeat: no-repeat;
    background-size: cover;

  }
 
  /* NAVIGATION */
  #nav {
    margin-top: 10px;
   
}

a{
    display: block;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    cursor: pointer;
    
  }

  a:hover, #submit:hover {

    letter-spacing: 5px;
    color: black;
    border-top: 2px solid #FF66C4;
    border-bottom: 2px solid #FF66C4;
    border-right: 2px solid #FF66C4;
    border-left: 2px solid #FF66C4;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #EAED2B 0%, #FF66C4  51%, #EAED2B 100%);
    font-weight: 700;

   }

   #submit {

    margin-top: 130px;
    margin-left: 85px;
    display: block;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: #A0F6FE;
    border-right: #A0F6FE;
    background-color: #A0F6FE;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    cursor: pointer;
    
  }

  /* HEADING */
  #nail {

    color: black;
    text-shadow: 6px 1px #EAED2B;
    font-size: 200pt;
    font-family: didot;

  }
  
  #dujour {

    text-align: center;
    box-shadow: 2px 1px black;
    border-radius: 25px;
    text-shadow: 6px 1px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    background: -webkit-linear-gradient(#FF66C4, #EAED2B,#FF66C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  #title {

     padding-top: 117px;
     text-align: right;
     margin-right: 140px;
    
  }

/* EMAIL FIELD POSITIONING (styling = in-line)*/
  #email {

     margin-left: 150px;
     margin-top: -30px;

  }
  
  /* SELECTION DROPDOWNS */
.MultiCheckBox {

    font-size: 20pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #A0F6FE;
    border:1px solid #EAED2B;
    padding: 5px;
    border-radius:4px;
    cursor:pointer;

}

.MultiCheckBox .k-icon { 

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 24px;
    color:#FF66C4;

} 

.MultiCheckBoxDetail {

    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:none;
    position:absolute;
    border:1px solid #A0F6FE;
    border-radius: 4px;
    background-color: #FF66C4;
    overflow-y:hidden;
    padding-bottom: 20px;
  
}

.MultiCheckBoxDetailBody {

    overflow-y:scroll;

}

    .MultiCheckBoxDetail .cont {

        clear:both;
        overflow: hidden;
        padding: 2px;

    }

    .MultiCheckBoxDetail .cont:hover {

        background-color:#EAED2B

    }

    .MultiCheckBoxDetailBody > div > div {

        float:left;

    }

.MultiCheckBoxDetail>div>div:nth-child(1) {

}

.MultiCheckBoxDetailHeader {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:#FF66C4;

}

    .MultiCheckBoxDetailHeader>input {

        position: absolute;
        top: 4px;
        left: 3px;

    }

    .MultiCheckBoxDetailHeader>div {
        
        position: absolute;
        top: 5px;
        left: 24px;
       
    }

    

      
 