
body {
  
  background-image: url("../images/Mainpage.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

 .b, .c, .d, .e {
    padding-top: 50px;
} 

.wrapper{
    margin-left: 20px;
    margin-top: 20px;
    position: fixed;
    transform: translate(-50%, -50%);
}

  a{
    margin-top: 20px;
    display: block;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    cursor: pointer;
    
    
    
  }
  
  
  a:hover{
   letter-spacing: 15px;
   color: black;
   border-top: 2px solid #FF66C4;
   border-bottom: 2px solid #FF66C4;
   border-right: 2px solid #FF66C4;
   border-left: 2px solid #FF66C4;
   border-radius: 10px;
   background-image: linear-gradient(45deg, #A0F6FE 0%, #FF66C4  51%, #A0F6FE 100%);
   font-weight: 700;

   

  }
  #nail {
    color: black;
    text-shadow: 6px 1px #A0F6FE;
    font-size: 200pt;
    font-family: didot;
  }
  
  #dujour {
    text-align: center;
    box-shadow: 2px 1px black;
    border-radius: 25px;
    text-shadow: 6px 1px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    background: -webkit-linear-gradient(#FF66C4, #A0F6FE,#FF66C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* modal */

input[type=text], input[type=password] {
  background-color:#A0F6FE;
  width: 100%;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #FF66C4;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    margin-bottom: 10px;
    display: block;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    background-color: #EAED2B;
    border-left: #EAED2B;
    border-right: #EAED2B;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    cursor: pointer;
}

button:hover {
   letter-spacing: 15px;
   color: black;
   border-top: 2px solid #FF66C4;
   border-bottom: 2px solid #FF66C4;
   border-right: 2px solid #FF66C4;
   border-left: 2px solid #FF66C4;
   border-radius: 10px;
   background-image: linear-gradient(45deg, #A0F6FE 0%, #FF66C4  51%, #A0F6FE 100%);
   font-weight: 700;
}

/* Extra styles for the cancel button
.cancelbtn {
  background-color: #A0F6FE;
  width: auto;
  padding: 10px 18px;
  
} */

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  border: 5px solid #FF66C4;
  background-color: #EAED2B;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FF66C4;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}



    
    








 
