<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <link rel="stylesheet">
  </head> 
  <body>    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 back">
          <a th:href="@{/index}"><--</a>
        </div>
      </div>
    </div>
  </body>
</html>