<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
      <title>Nail du Jour</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" th:href="@{/css/style.css}">
      <link rel="stylesheet">
    </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="title">
        <div class="col-md-7"> 
          <span id="nail">Nail</span>
          <span id="dujour">dujour</span>
        </div>
      </div>
      <div class="flex-container" id="nav">
          <div class="wrapper">
            <a th:href="@{/polishinventory}">Employee.</a>
          </div>
          <div class="wrapper">
            <a th:href="@{/login}">Register.</a>
          </div>
          <div class="wrapper">
            <a th:href="@{/about}">About.</a>
          </div>
          <div class="wrapper">
            <a th:href="@{/staticmenu}">Menu.</a>
          </div>
          <div class="wrapper">
            <a th:href="@{/order}">Check In.</a>
          </div>
      </div>  
    </div>
  </body>
</html>

 
  