<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head>
    <title>Log In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid" id="container">
      <div class="row" id="title">
        <div class="col-sm-2 home">
          <a th:href="@{/index}">Home.</a>
        </div>
        <div class="col-md-10" id="company"> 
          <span id="nail">Nail</span>
          <span id="dujour">dujour</span>
        </div>
      </div> 
    </div>
                    <!--action directly relates to Controller Post Mapping-->
                    <!-- message handler-->
    <div class="flex-container"><span th:if="${message}"  th:text="${message}" class="errorText"></span></div>
    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post" class="ccform">
      <div class="ccfield-prepend">
        <span class="ccform-addon"><i class="fa fa-user fa-2x"></i></span>
        <input class="ccformfield" type="text" th:field="*{name}" placeholder="Full Name" required></input>
      </div>
      <div class="col-md-6 mb-4">
        <h6 class="mb-2 pb-1">Pronouns: </h6>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" th:field="*{pronoun}" name="inlineRadioOptions" id="femaleGender" value="she/her" checked />
          <label class="form-check-label" for="femaleGender">She/Her</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" th:field="*{pronoun}" name="inlineRadioOptions" id="maleGender" value="he/him" />
            <label class="form-check-label" for="maleGender">He/Him</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" th:field="*{pronoun}" name="inlineRadioOptions" id="otherGender" value="they/them" />
            <label class="form-check-label" for="otherGender">They/Them</label>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="ccfield-prepend">
        <span class="ccform-addon"><i class="fa fa-envelope fa-2x"></i></span>
        <input class="ccformfield" type="text" th:field="*{email}" placeholder="Email" required>
      </div>
      <div class="ccfield-prepend">
        <span class="ccform-addon"><i class="fa fa-mobile-phone fa-2x"></i></span>
        <input class="ccformfield" type="text" th:field="*{phone}" placeholder="Phone" req>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 s">
            <div class="wrapper">
              <button type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>





