
<!DOCTYPE html>
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml">-->
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Order</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <link rel="stylesheet">
    <script src="order.js"></script>

    <script>
      $(document).ready(function () {
        $("#test").CreateMultiCheckBox({ width: '230px', defaultText : 'Polish', height:'250px' });
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#test2").CreateMultiCheckBox({ width: '230px', defaultText : 'Beverage', height:'250px' });
      });
    </script>
  </head>

  <body>
    <div class="container-fluid" id="nav">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-2 b">
          <div class="wrapper">
            <a th:href="@{/inventory}">Employee.</a>
          </div>
        </div>
        <div class="col-sm-2 b">
          <div class="wrapper">
            <a th:href="@{/index}">Home.</a>
          </div>
        </div>
        <div class="col-sm-2 c">
          <div class="wrapper">
            <a th:href="@{/about}">About.</a>
          </div>
        </div>
        <div class="col-sm-2 d">
          <div class="wrapper">
            <a th:href="@{/staticmenu}">Menu.</a>
          </div>
        </div>
      </div>  
      <div class="row" id="title">
        <div class="col-md-"> 
          <span id="nail">Nail</span>
          <span id="dujour">dujour</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="email">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <form action="#" th:action="@{/makeorder}" th:object="${order}"  method="post" class="ccform">
            <div class="ccfield-prepend">
              <input class="ccformfield" style="font-size: 16pt; text-align: left; background-color:#A0F6FE; border-color: #EAED2B; border-radius: 4px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: black;" type="text" th:field="*{userEmail}" placeholder="Enter Email" required>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <h6 class="mb-2 pb-1">Select Polishes: </h6>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="option1" checked />
                  <label class="form-check-label" for="femaleGender">She/Her</label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender" value="option2" />
                    <label class="form-check-label" for="maleGender">He/Him</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender" value="option3" />
                    <label class="form-check-label" for="otherGender">They/Them</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <h6 class="mb-2 pb-1">Select Polishes: </h6>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="option1" checked />
                  <label class="form-check-label" for="femaleGender">She/Her</label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender" value="option2" />
                    <label class="form-check-label" for="maleGender">He/Him</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender" value="option3" />
                    <label class="form-check-label" for="otherGender">They/Them</label>
                  </div>
                </div>
              </div>
            </div>


<!--        <div class="col-sm-3">-->
<!--&lt;!&ndash;          #test&ndash;&gt;-->
<!--          <select id="polishId" th:field="*{polishId}" name="polishId">-->
<!--&lt;!&ndash;            iterates through polish list and makes them list options from database&ndash;&gt;-->
<!--            <option th:each="polish : ${polishes}" th:value="${polish.polishId}" th:text="${polish.polishName}"></option>-->


<!--          </select>-->
<!--        </div>-->
<!--        <div class="col-sm-3">-->
<!--&lt;!&ndash;          test2&ndash;&gt;-->
<!--          <select id="beverageName" th:field="*{beverageName}" name="beverageName">-->
<!--            <option th:each="beverage : ${beverages}" th:value="${beverage.name}" th:text="${beverage.name}"></option>-->

<!--          </select>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-sm-11"></div>-->
<!--        <div class="col-sm-1">-->
<!--          <button type="submit" id="submit">Submit.</button>-->
<!--        </div>-->
<!--      </div>-->
      </form>
    </div>
    </div>
  </body>
</html>