<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
 <title>Success</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" th:href="@{/css/success.css}">

</head>

 <body>
    <div class="container-fluid">
        <div class="row" id="title">
            <div class="col-md-12">
                <span id="login">Login</span>
                <span id="success">success!!</span>
            </div>
            <span th:text="'Thank You ' + ${currentUser.name} +', order #'+ ${currentOrder.orderId} + ' has been placed.'"></span>
            <span th:text="'Your ' + ${currentOrder.beverageName} + ' will be served to you soon!'"></span>
        </div>
    </div>
 </body>
</html>