<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
 <title>Success</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" th:href="@{/css/success.css}">

</head>

 <body>
    <div class="container">
            <span id="login">Check-in.</span>
            <span id="success">Successful!!</span>
    </div>
    <br>
    <br>
    <div class="container2">
            <span  th:text="'Thank You ' + ${currentUser.name} +', order #'+ ${currentOrder.orderId} + ' has been placed.'"></span>
            <span th:text="' Your ' + ${currentOrder.beverageName} + ' will be served to you soon!'"></span>
    </div>
    <div class="gif">
    <iframe src="https://giphy.com/embed/26DOoDwdNGKAg6UKI" width="480" height="384" frameBorder="2" class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/alexanderirl-alexander-irl-26DOoDwdNGKAg6UKI"></a></p>
    </div>
 </body>
</html>